.footer {
    background: $my-beige;
}

.logo {
    width: 100%;
    max-width: 70px;
    height: auto;
    margin-left: 48%;
    margin-bottom: 20px;
}

.footer a {
    color: $brown;
    text-decoration: none;
    padding: 0.5em;
}

.footer a:hover {
    color: $my-white;
}


.footer .social {
    display: block;
    text-align: center;
    padding: 0 0 1.5em 1em;
    font-size: 2rem;
}
