@import 'variables';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $my-beige;
}

.main {
    flex: 1 0 auto;
}

.header,
.footer {
    flex: 0 0 auto;
}

.main {
    padding: 1em 0 4em;
}

.container {
    max-width: 76em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.widescreen
.container {
    max-width: 72em;
}

/* very ugly overflow fix, avoid this whenever possible! */

.main
.container {
    overflow-x: hidden;
}


/*** BASIC LAYOUT: EXTRA SMALL DEVICES ***/

@media (max-width: 767px) {
    .main {
        padding: 2em 0 1em;
    }

    .title,
    .logo {
        padding: 2em 1.5em 2em 0;
    }

    .logo {
        height: 8.8em;
    }

    .nav {
        clear: both;
        padding: 0;
    }

    .nav ul {
        padding-bottom: 1em;
    }

    .nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js
    .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .js
    .nav-toggle>* {
        vertical-align: middle;
    }

    .footer p {
        padding: 1em 0;
    }

    .footer
    .social {
        padding: 0.5em 0 0.5em 1em;
    }

}
